.navbar{
    padding: 0 !important;
    background: #1a2e67;
    color: #fff;
}
.list-item{
    color: #fff;
    margin: 0 10px 0 10px;
    border: 0;
    padding: 12px 0;
    color: #fff;
    font-size: 13px;
    line-height: 12px;
    font-family: Montserrat-Medium,sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none !important;
}
.active {
    border-bottom: 4px solid #2d52ad;
  }
  