* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('./assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('./assets/fonts/Montserrat-Bold.ttf');
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url('./assets/fonts/Montserrat-Medium.ttf');
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('./assets/fonts/Montserrat-SemiBold.ttf');
}
body {
  background-color: #2d52ad !important;
  font-family: Lato,sans-serif;
  font-size: 14px;
  color: #333;
}

h1,h2,h3,h4 {
  font-family: Montserrat,sans-serif;
  line-height: 1.2
}

h1 {
  font-size: 24px;
  text-transform: uppercase
}

h2 {
  font-size: 18px;
  text-transform: uppercase
}

h3 {
  font-size: 16px;
  text-transform: uppercase
}

h4,h5 {
  font-size: 14px;
  text-transform: uppercase
}
.row {
  margin-right: 0 !important; 
  margin-left: 0 !important; 
}

.col {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.container{
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.custom-row {
  margin-left: -10px !important;
  margin-right: -10px !important;
}
.custom-col {
  padding-left: 10px;
  padding-right: 10px;
}
/* @media (min-width: 1400px) {
  .container {
      max-width:1200px !important;
  }
} */